/* Box */
.box {
  background: _palette(fg);
  color: _palette(bg);
  padding: 2em;

  > :last-child {
    margin-bottom: 0;
  }

  &.style2 {
    padding: 3.5em 2.5em 3.5em 2.5em;
  }

  @include breakpoint('<=small') {
    padding: 1em;

    &.style2 {
      padding: 1.5em 1.25em 1.5em 1.25em;
      background-color: transparentize(_palette(fg), 0.1);
    }
  }
}

.sponsors-gold,
.sponsors-silver,
.sponsors-social,
.sponsors-training {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 650px;
  margin-bottom: 1em;
  width: 45em;
  max-width: calc(100% - 4em);
  margin: 1em auto;

  @include breakpoint('<=small') {
    min-height: 400px;
  }

  h3 {
    flex: 0 auto;
    width: 100%;
    align-self: flex-start;
  }

  a {
    flex: 0 auto;
    width: 50%;
  }

  .logo {
    img {
      width: 100%;
      margin: 1.5em 0;
    }
  }
}

.box.sponsors-silver {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto _size(element-margin) auto;

  article {
    width: 50%;
    padding: 1em 3em;

    @include breakpoint('<=small') {
      width: 100%;
      padding: 0.5em;
    }
  }
}

.box.sponsors-gold {
  article {
    flex: 0 auto;
    width: 50%;
  }
}

.box.sponsors-social .logo img {
  width: 300px;

  @include breakpoint('<=small') {
    width: 150px;
  }
}
